.btn {
    margin-bottom: 10px;
}

.jumbotron {
    padding-bottom: 15px;
    padding-top: 1px;
    text-align: center;
}

.thumbnail {
    width: 100%;
}

.row {
    text-align: center;
}

body {
    background-color: #50489D;
}

h3 {
    font-size: 35px;
}

h4 {
    margin-top: -15px;
    font-size: 25px;
    text-align: center;
}

#link {
    color: #50489D;
    font-size: 20px;

}

h2 {
    margin-bottom: 15px;
    margin-top: -5px;
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
}

.well {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 0px;
}

.col-sm-4 {
    padding-bottom: 10px;
}

.hide {
    display: none;
}

a:active,
a:link,
a:visited,
a:hover {
    color: #50489D;
    font-weight: bold;
}

#linkP1,
#linkP2,
#linkP3,
#linkP4,
#linkW1,
#linkW2,
#linkA,
#linkGD {
    font-weight: bold;
    color: gray
}
